.footer {
    display: flex;
    height: 50px;
    width: 100%;
    color: white;
    font-family: Arial, sans-serif;
}

.footer-account {
    height: 100%;
    display: flex;
}

.footer-link {
    text-decoration: none;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-pfp {
    height: 100%;
    border-radius: 50%;
    margin: 0 20px 0 20px;
    box-shadow: 2px 2px 2px black;
    aspect-ratio: 1/1;
    object-fit: cover;
}

@media (max-width: 400px) {
    .footer-text {
        display: none;
    }

    .footer {
        justify-content: center;
    }

    .footer-link {
        justify-content: center;
    }
}