@import './config.css';

* {
    color: white;
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

#content {
    height: fit-content;
    overflow-y: scroll;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0%;
}

body {
    background-image: var(--base-gradient);
    margin: 0px;
    min-height: 100dvh;
}

section {
    width: 100%;
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursor {
    display: inline-block;
    width: 1ch;
    animation: blink 1s steps(1) infinite;
    transform: scale(1.2);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }
}